html {
    background-color: rgb(231, 204, 204);
}

body {
    width: 70%;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

.image1 {
    width: 10em;
    height: 10em;
}

.image2 {
    width: 25em;
    height: 10em;
}